### APP SETUP
APP_NAME = IOT_ADRINI
APP_HOST = 0.0.0.0
APP_PORT = 5002
SECRET_KEY = asdsagdasgdasf@asfdasgvdasda@#!@#!%$#%@#@@##
MEMCACHE_HOST=127.0.0.1
MEMCACHE_PORT=11211
FLASK_DEBUG = True

### REDIS SETUP
FLASK_REDIS_URL = redis://:pass@session:6379/0

### DATABASE SETUP
DB_DRIVER = mysql
FLASK_MYSQL_HOST=localhost
FLASK_MYSQL_PORT=3306
FLASK_MYSQL_DB=billing
FLASK_MYSQL_USER=root
FLASK_MYSQL_PASSWORD=

X_Ninja_Token=
ninja_host=127.0.0.1
ninja_port=8000
ninja_api_version=v1